.git
.github
.cursor
.idea
.vscode
.env
.env.*
!.env.example
node_modules
vendor
tests
mobile
storage/logs
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/pail
public/hot
public/storage
public/build
.phpunit.cache
.phpunit.result.cache
*.md
